icon:
  compiler: [gcc, nvhpc]
  network:
    mpi: cray-mpich@8.1.30 +cuda
  unify: true
  specs:
  # - boost ~mpi
  - python@3.10
  - cuda@12.6
  - eccodes@2.36.4 +aec+fortran~ipo~memfs~netcdf~openmp~png~pthreads+shared~tools extra_definitions:=none jp2k=openjpeg %c,cxx,fortran=nvhpc
  - eccodes-cosmo-resources@2.36.0.3
  - hdf5@1.14.6 ~cxx+fortran+hl~ipo~java~map+mpi+shared~subfiling+szip~threadsafe+tools api=default %c,fortran=nvhpc
  - netcdf-c@4.9.3 +blosc~byterange~dap~fsync~hdf4~jna~logging+mpi~nczarr_zip+optimize~parallel-netcdf+pic+shared+szip+zstd %c=nvhpc
  - netcdf-fortran@4.6.2 ~doc+pic+shared %c,fortran=nvhpc
  - openblas %c,cxx,fortran=nvhpc
  # # for validation
  # - cdo
  # # everything needed for nccl on SS11
  # - nccl
  # - nccl-tests
  # # extras
  # - libfyaml
  # - zlib-ng
  # - cmake
  variants:
  - +mpi
  - +cuda
  - cuda_arch=80
  views:
    default:
      link: roots
      uenv:
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]
