clusters:
  balfrin:
    targets:
      -
        uarch: 'a100'
        partition: 'normal'
        variables:
          F7T_URL: 'https://api.cscs.ch/mch/firecrest/v2'
      -
        uarch: 'zen3'
        partition: 'postproc'
        variables:
          F7T_URL: 'https://api.cscs.ch/mch/firecrest/v2'
          SLURM_EXCLUSIVE: ''
          SLURM_NODES: '1'
          SLURM_CPU_BIND: 'none'
    runner: f7t
  santis:
    targets:
      -
        uarch: 'gh200'
        partition: 'normal'
        variables:
          F7T_URL: "https://api.cscs.ch/cw/firecrest/v1"
    runner: f7t
uenvs:
  climana:
    "24.10":
      recipes:
        zen2: '24.10'
        zen3: '24.10'
        a100: '24.10'
      deploy:
        balfrin: [zen3, a100]
  fdb:
    "5.18":
      recipes:
        zen2: '5.18'
        zen3: '5.18'
        a100: '5.18'
  icon:
    "25.2":
      recipes:
        gh200: '25.2/gh200'
        a100: '25.2/a100'
      deploy:
        santis: [gh200]
        balfrin: [a100]
  mch:
    "v7":
      recipes:
        a100: 'v7'
      deploy:
        balfrin: [a100]
    "v8":
      recipes:
        a100: 'v8'
      deploy:
        balfrin: [a100]
  climtools:
    "25.2":
      recipes:
        gh200: '25.2/gh200'
      deploy:
        santis: [gh200]
